* {
  font-family: Open Sans;
  margin: 0;
}

body {
  /*background-image: url(assets/back-placeholder.png);*/
/*  background-repeat: no-repeat;
  background-size: 100%;*/
  /*display: grid;*/
  /*grid-template-areas: */
/*    "header"
    "form"
    "cards";  */
        background-color: #c2b2b4;
    
}

h1 {
  margin:0;
}

/*---------
  Header
---------*/
header {
  display: flex;
display: flex;
    align-items: center;
    /* height: 105px; */
    justify-content: space-between;
    /* position: sticky; */
    /* top: 0; */
    padding: 2em 1em 0 1em;
    background-color:#3e2a35;
}

.header-items {
  align-items: center; 
  display: flex;
  justify-content: flex-start;
  width: 50%;
  color: #FFF;
  font-size: 27px;
}

.search {
  width: 50%;
  display: flex;
      justify-content: flex-end;
}

.logo-img {
  width: 4.4rem;
}

.search-bar {
border-radius: 5px 0px 0px 5px;
    transition: all .2s ease;
    width: 55%;
    /* height: 2.5rem; */
    outline: none;
    border: 3px solid #cccccc;
    padding: 1%;
    font-size: 18px;
}

.search-btn {
    background: #D2CCCD;
    border-radius: 0px 5px 5px 0px;
    border: solid #D2CCCD 3px 3px 3px 0px;
    color: #FFFFFF;
    /* font-size: 19px; */
    /* height: 50px; */
    margin-right: 15px;
    text-align: center;
    transition: all .2s ease;
    width: 40px;
    justify-content: initial;
    padding: 1%;
}

.search-btn img {
  width: 100%;
    vertical-align: middle;
}

.main_photo-inputs {
padding: 2em 0;
    display: flex;
    background-color:#3e2a35;
}




/*----------
 Photo Form
----------


.foto-gen-area,
.foto-gen-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.foto-gen-content {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 48.85%;
  /*align-items: center;*/
  /*background: #FFFFFF;*/
/*}*/



.foto-gen-area {
  width: 100%;
  display: flex;
}

.foto-gen-content {
  display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}


#caption,
#title {
    height: 50px;
    margin-bottom: 1em;
    line-height: 3;
    padding-left: 10px;
}

#choose {
  display: none;
}

#caption {
  
  
}

.input {
  
}

.form-labels {
    color: #c2b2b4;
    /* margin-top: 32px; */
    font-weight: 500;
    font-size: 1.2em;
    line-height: 2;
}

.btn {
  background: #5b4447;
    /* border-radius: 5px; */
    border: none;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 500;
    height: 50px;
    margin-top: 2em;
    transition: all .2s ease;
}

.choose-btn {
width: 100%;
    /* padding-left: 0; */
    /* padding-top: 0; */
    text-align: center;
    /* vertical-align: middle; */
    /* display: block; */
    line-height: 3em;
}

.extra-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.extra-buttons .btn {
width: 45%;
}

/*-----------
 Card Album
-----------*/

.main_photo-field {
    padding: 2em;
    background-color: #c2b2b4;
        max-width: 1200px;
}

.album-field {
      /*background-color: #c2b2b4;*/
/*border-radius: 5px;*/
    /* margin-top: 30px; */
    /* width: 100%; */
    transition: all .2s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: 21%;
    border: 2px #9f8e90 solid;
    /* margin-left: 2rem; */
    margin: 2%;
    background: #fff;
    box-sizing: border-box;
}

#card-img {
    width: 100%;
    object-fit: cover;}

.icon {
  height: 2rem;
  width: 2rem;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    background: #5b4447;
}

.card-buttons button {
      background: none;
    border: none;
}

.card-caption {
  padding: 1rem;
}

.card-title {
color: #3e2a35;
    font-size: 1.4em;
    margin: 0;
    font-weight: 500;
    padding: 10px;

}

h2 {

}