* {
  font-family: Open Sans;
  margin: 0;
}

body {
  background-image: url(assets/back-placeholder.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*display: grid;*/
  /*grid-template-areas: */
/*    "header"
    "form"
    "cards";  */
}

/*---------
  Header
---------*/
header {
  display: flex;
  align-items: center;
  height: 105px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  /*background-color: deeppink;*/
}

.header-items {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  width: 35%;
}

.logo-img {
  width: 4.4rem;
}

.search-bar {
  border-radius: 5px 0px 0px 5px;
  transition: all .2s ease;
  width: 370px;
}

.search-btn {
  background: #D2CCCD;
  border-radius: 0px 5px 5px 0px;
  border: solid #D2CCCD 3px 3px 3px 0px;
  color: #FFFFFF;
  font-size: 25px;
  height: 50px;
  margin-right: 15px;
  text-align: center;
  transition: all .2s ease;
  width: 50px;
}

/*----------
 Photo Form
----------*/
.foto-gen-area,
.foto-gen-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.foto-gen-content {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 56%;
  /*align-items: center;*/
  /*background: #FFFFFF;*/
}

#title,
#caption {
  height: 55px;
  margin-top: 8px;
}

#caption {
  display: flex;
  height: 150px;
}

label {
  /*color: #7C7879;*/
  margin-top: 32px;  
}

.btn {
  background: #6E646B;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 800;
  height: 60px;
  margin-top: 20px;
  transition: all .2s ease;
}

/*-----------
 Card Album
-----------*/

.album-field {
  border-radius: 5px;
  border: solid black 3px;
  margin-top: 30px;
  width: 100%;
  transition: all .2s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 19%;
  border: 1px black solid;
  margin-left: 2rem;
}

#card-img {
  width: 100%;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
}

.card-caption {
  padding: 1rem;
}

h2 {

}